/* You can add global styles to this file, and also import other style files */
.copyright {
  background-color: lightgray;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.valid {
  border-bottom: solid green;
}

.invalid {
  border-bottom: solid red;
}
